# dependencies
node_modules/

# builds
dist/
build/

# vite / caches
.cache/
*.tsbuildinfo

# OS / editor noise
.DS_Store
Thumbs.db
*.log
RatGame.zip
workspace.xml

# junk files sometimes created when zips are made on mac
._*
**/.DS_Store

repo_dump*.txt
*_dump*.txt

# JetBrains / WebStorm
.idea/
!.idea/codeStyles/
!.idea/runConfigurations/

# Contracts
**/contracts/**

# all files in the .claude directory
.claude/*
